/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

:root {
  --color-white: #F2F5F9;
  --color-blue: #3662E3;
  --color-dark-blue: #111729;
  --color-dark: #030617;
  --color-grey: #364153;
  --color-white-grey: #4e80ee33;

  --font-size-base: clamp(1rem, 0.96rem + 0.19999999999999996vw, 1.2rem);

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bc-svg {
  z-index: 1;
}

.logo {
  position: absolute;
  padding: clamp(0.625rem, 0.3125rem + 1.5625vw, 2.1875rem) clamp(0rem, -0.75rem + 3.75vw, 3.75rem);
  z-index: 1000;
}

.logo svg {
  width: clamp(7.5rem, 7.125rem + 1.875vw, 9.375rem);
  height: auto;
  transform: scale(100%);
  transition: transform .1s;
}

.logo svg:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.qr-code-container {
  position: fixed;
}

.qr-code-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px; /* Размер круга */
  height: 350px;
  background-color: #1E2C51; /* Цвет круга с прозрачностью */
  border-radius: 50%; /* Делаем круг */
  transform: translate(-50%, -50%); /* Центрируем круг относительно контейнера */
  z-index: 1; /* Отправляем круг за QR-код */
}

#qr-code {
  position: relative;
  z-index: 2; /* Размещаем QR-код поверх круга */
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35rem;
  gap: 2rem;
  white-space: nowrap;
}

.buttons svg {
  width: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  height: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

.button {
  display: flex;
  align-items: center;
  gap: 3px;
  padding:  clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem) clamp(1.875rem, 1.6875rem + 0.9375vw, 2.8125rem);
}

.copy-information {
  position: absolute;
  top: 15px;
  right: -190px;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  transition: right 0.15s ease-in-out;
}
